{% extends "base.html" %}

{% block title %}
  AQT Solutions | New Flipbook Success
{% endblock title %}

{% block header-extend %}
  <!-- Astrum Header -->
  {% include "astrum-header.html" %}
  <!-- End Astrum Header -->
{% endblock header-extend %}

{% block body %}
  <!-- Astrum Top Bar -->
  {% include "astrum-top-bar.html" %}
  <!-- End Astrum Top Bar -->

  <!-- Breadcrumbs -->
  <section id="titlebar">
    <!-- Container -->
    <div class="container">
      
      <div class="eight columns">
	<h2>New Flipbook Success</h2>
      </div>
     
      <div class="eight columns">
	<nav id="breadcrumbs">
	  <ul>
	    <li>You are here:</li>
	    <li><a href="/">Home</a></li>
            <li><a href="{% url 'customer:customer' %}">Admin Area</a></li>
	    <li><a href="{% url 'flipbook:index' %}">Flipbook</a></li>
            <li><a href="{% url 'flipbook:new' %}">Create Flipbook</a></li>
            <li>Success</li>
	  </ul>
	</nav>
      </div>
      
    </div>
    <!-- Container / End -->
  </section>

  <div class="container">

    <!-- Center block placeholder -->
    <div class="two columns">
      <span class="line" style="width: 0;"></span>
    </div>

    <!-- Success area -->
    <div class="twelve columns">

      <div class="clearfix" style="margin-top: 25px;"></div>

      <!-- Section Title -->
      <h3 class="headline">Successfully Created a new Flipbook!</h3>
      <span class="line" style="margin-bottom: 35px;"></span>
      <div class="clearfix"></div>

      <p>You can view the new flipbook page 
        <a href="{% url 'flipbook:view' slug %}">here</a></p>

      <p>You can edit the new flipbook page 
        <a href="{% url 'flipbook:edit' slug %}">here</a></p>

      <a href="{% url 'flipbook:index' %}" 
           class="button color" style="float: right; margin-top: 20px;">
          Back to Flipbooks
      </a>
      <a href="{% url 'flipbook:new' %}" 
         class="button gray" style="float: right; margin: 20px 10px 0 0;">
        Create Another Flipbook
      </a>

    <!-- End twelve columns -->
    </div>

    <!-- Center block placeholder -->
    <div class="two columns">
      <span class="line" style="width: 0;"></span>
    </div>

    <div class="clearfix" style="margin-bottom: 31rem;"></div>

  <!-- Container end -->
  </div>


  <!-- Astrum Footer -->
  {% include "astrum-footer.html" %}
  <!-- End Astrum Footer -->
{% endblock body %}

{% block body-extend %}
  <!-- No content from body-extend. -->
{% endblock body-extend %}
