{% extends "base.html" %}

{% block title %}
  AQT Solutions | Contact Success
{% endblock title %}

{% block header-extend %}
  <!-- Astrum Header -->
  {% include "astrum-header.html" %}
  <!-- End Astrum Header -->
{% endblock header-extend %}

{% block body %}
  <!-- Astrum Top Bar -->
  {% include "astrum-top-bar.html" %}
  <!-- End Astrum Top Bar -->

  <!-- Breadcrumbs -->
  <section id="titlebar">
    <!-- Container -->
    <div class="container">
      
      <div class="eight columns">
	<h2>Contact Success</h2>
      </div>
     
      <div class="eight columns">
	<nav id="breadcrumbs">
	  <ul>
	    <li>You are here:</li>
	    <li><a href="/">Home</a></li>
            <li><a href="{% url 'contact:contact' %}">Contact</a></li>
            <li>Success</li>
	  </ul>
	</nav>
      </div>
      
    </div>
    <!-- Container / End -->
  </section>

  <div class="container">

    <!-- Center block placeholder -->
    <div class="two columns">
      <span class="line" style="width: 0;"></span>
    </div>

    <!-- Success area -->
    <div class="twelve columns">

      <div class="clearfix" style="margin-top: 25px;"></div>

      <!-- Section Title -->
      <h3 class="headline">Your message was sent!</h3>
      <span class="line" style="margin-bottom: 35px;"></span>
      <div class="clearfix"></div> 

      <p>An e-mail has been sent to the AQT Solutions.  A team member will
      address your request as soon as possible.</p>

      <p>Please allow up to a full business day to receive a response.</p>

      <p>If you do not receive a response, check you Spam folder before
        submitting another contact form.</p>

      <a href="http://www.aqtsolutions.org/" 
         class="button color" style="float: right; margin-top: 20px;">
        Back to Home
      </a>

    <!-- End twelve columns -->
    </div>

    <!-- Center block placeholder -->
    <div class="two columns">
      <span class="line" style="width: 0;"></span>
    </div>

    <div class="clearfix" style="margin-bottom: 27.95rem;"></div>

  <!-- Container end -->
  </div>


  <!-- Astrum Footer -->
  {% include "astrum-footer.html" %}
  <!-- End Astrum Footer -->
{% endblock body %}

{% block body-extend %}
  <!-- No content from body-extend. -->
{% endblock body-extend %}
