[DEFAULT]
arch = amd64
mem = 2049
# Standard CPU assignment for all VM's is 2.
cpus = 2
hostname = kvm02-bha-portal01
user = tester
name = AQT Tester
pass = t3st3r000
#copy = /var/lib/libvirt/images/vmdv/vaos1/vaos_copy_files.lst
tmpfs = - 
tmp = /tmp 
timezone = America/Los_Angeles
domain = vireomd.net
ip     = 10.11.12.x
gw     = 10.11.12.1
net    = 10.11.12.0
bcast  = 10.11.12.255
mask   = 255.255.255.0
dns    = 8.8.8.8 8.8.4.4
firstboot = /var/lib/libvirt/images/kvm01-bha-portal01/vaos_boot.sh

[kvm]
libvirt = qemu:///system
bridge = br0
templates = mytemplates 

[ubuntu]
suite   = trusty
flavour = virtual 
components = main,universe
