{% extends "base.html" %}

{% block title %}
  AQT Solutions | Contact Support
{% endblock title %}

{% block header-extend %}
  <!-- Astrum Header -->
  {% include "astrum-header.html" %}
  <!-- End Astrum Header -->

  <!-- Google Tracking -->
  {% include "google-tracking.html" %}

  <!-- HubSpot Tracking -->
  {% include "hubspot-tracking.html" %}
{% endblock header-extend %}

{% block body %}
  <!-- Astrum Top Bar -->
  {% include "astrum-top-bar.html" %}
  <!-- End Astrum Top Bar -->

  <!-- Breadcrumbs -->
  <section id="titlebar" style="margin: 0;">
    <!-- Container -->
    <div class="container">
      
      <div class="eight columns">
	<h2>Contact Us</h2>
      </div>
     
      <div class="eight columns">
	<nav id="breadcrumbs">
	  <ul>
	    <li>You are here:</li>
	    <li><a href="/">Home</a></li>
            <li>Contact</li>
	  </ul>
	</nav>
      </div>

    <!-- End Container -->
    </div>
    <!-- Section End -->
  </section>

  <div class="container">

    <div class="sixteen columns">
      <!-- Google Maps -->
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3133.255974429242!2d-122.27337750000001!3d38.2503689!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808508c91f4b72f5%3A0xd0607f06a8117cec!2s860+Napa+Valley+Corporate+Way%2C+Napa%2C+CA+94558!5e0!3m2!1sen!2sus!4v1427750459234" width="100%" height="400" frameborder="0" style="border:0"></iframe>

    <!-- End sixteen columns -->
    </div>

  <!-- End Container -->
  </div>

  <div class="container">

    <!-- Center block placeholder -->
    <div class="two columns">
      <span class="line" style="width: 0;"></span>
    </div>

    <!-- Create Ticket -->
    <div class="eight alt columns">

      <div class="clearfix" style="margin-top: 25px;"></div>

      <!-- Section Title -->
      <h3 class="headline">Leave us a message!</h3>
      <span class="line" style="margin-bottom: 35px;"></span>
      <div class="clearfix"></div> 

      <!-- Create Ticket Error message(s) -->
      {% if error == 'Empty' %}
	<div class="notification error closeable">
	  <p>
            <span>Error!</span> All fields are required.
          </p>
	  <a class="close" href="#"></a>
	</div>
      {% endif %}

      <!-- Login Form -->
      <form method="post" action="{% url 'contact:contact' %}">
        {% csrf_token %}

        <fieldset>
          <div>
            <label>First Name:</label>
            <input type="text" name="fname" 
                   style="width: 100%;" value="{{ fname }}"/>
          </div>

          <div class="clearfix"></div>
          <div style="margin: 8px 0 0 0;"></div>

          <div>
            <label>Last Name:</label>
            <input type="text" name="lname" 
                   style="width: 100%;" value="{{ lname }}"/>
          </div>

          <div class="clearfix"></div>
          <div style="margin: 8px 0 0 0;"></div>

          <div>
            <label>E-mail:</label>
            <input type="email" name="email" 
                   style="width: 100%;" value="{{ email }}"/>
          </div>

          <div class="clearfix"></div>
          <div style="margin: 8px 0 0 0;"></div>

          <div>
            <label>Company:</label>
            <input type="text" name="company" 
                   style="width: 100%;" value="{{ company }}"/>
          </div>

          <div class="clearfix"></div>
          <div style="margin: 8px 0 0 0;"></div>

          <div>
            <label>Position:</label>
            <input type="text" name="position" 
                   style="width: 100%;" value="{{ position }}"/>
          </div>

          <div class="clearfix"></div>
          <div style="margin: 8px 0 0 0;"></div>

          <div>
            <label>Message:</label>
            <textarea name="message" style="resize: vertical; width: 100%; height: 150px;">{{ message }}</textarea>
          </div>
        </fieldset>

        <div class="clearfix"></div>
        <div style="margin: 20px 0 0 0;"></div>

        <input type="submit" value="Submit" />
      </form>
    </div>
    
    <!-- Right Bar -->
    <div class="four columns" style="margin-left: 25px;">

      <div class="clearfix" style="margin-top: 25px;"></div>

      <!-- Section Title -->
      <h3 class="headline">AQT Solutions</h3>
      <span class="line" style="margin-bottom: 35px;"></span>
      <div class="clearfix"></div>

      <ul class="contact-informations">
        <li>
          <span class="address">860 Napa Valley Corporate Way, Suite R</span>
        </li>

        <li>
          <span class="address">Napa, CA 94558 USA</span>
        </li>
      </ul>

      <ul class="contact-informations second">
        <li>
          <i class="icon-user"></i>
          +1 707 265 7800
        </li>

        <li>
          <i class="icon-envelope-alt"></i>
          atmsinfo@aqtsolutions.com
        </li>

        <li>
          <i class="icon-globe"></i>
          www.aqtsolutions.com
        </li>
      </ul>


      <div class="clearfix" style="margin-top: 25px;"></div>

      <!-- Section Title -->
      <h3 class="headline">Social Media</h3>
      <span class="line" style="margin-bottom: 35px;"></span>
      <div class="clearfix"></div>

      <ul class="social-icons">
        <li>
          <a class="facebook" href="https://www.facebook.com/pages/AQT-Solutions/664434076988591%E2%80%8B">
            <i class="icon-facebook"></i>
          </a>
        </li>

        <li>
          <a class="gplus" href="https://plus.google.com/u/0/b/112568901804032110847/112568901804032110847/posts">
            <i class="icon-gplus"></i>
          </a>
        </li>

        <li>
          <a class="twitter" href="https://twitter.com/aqtsolutions">
            <i class="icon-twitter"></i>
          </a>
        </li>

        <li>
          <a class="linkedin" href="https://www.linkedin.com/company/aqt-solutions">
            <i class="icon-linkedin"></i>
          </a>
        </li>

        <li>
          <a class="rss" href="http://www.aqtsolutions.org/wordpress/?page_id=202">
            <i class="icon-rss"></i>
          </a>
        </li>
      </ul>

      <div class="clearfix"></div>

    <!-- End four columns -->
    </div>

    <!-- Center block placeholder -->
    <div class="two columns">
      <span class="line" style="width: 0;"></span>
    </div>

    <div class="clearfix" style="margin-bottom: 45px;"></div>

  <!-- Container end -->
  </div>

  <!-- Astrum Footer -->
  {% include "astrum-footer.html" %}
  <!-- End Astrum Footer -->
{% endblock body %}

{% block body-extend %}
  <!-- No content from body-extend. -->
{% endblock body-extend %}
