<form name="changePasswordForm"
      ng-submit="changePasswordForm.$valid && !changePasswordCtrl.apiProcessing && changePasswordCtrl.submitChange()"
      novalidate>


  <!-- Message Handling -->

  <div class="alert alert-dismissible" role="alert"
       ng-repeat="message in changePasswordCtrl.MessageManager.messageStore"
       ng-class="message.messageClass()">
    <button type="button" class="close" aria-label="Close"
            ng-click="changePasswordCtrl.MessageManager.removeMessage(message)">
      <span aria-hidden="true">&times;</span>
    </button>
    <strong>{{message.type}}!</strong> {{message.text}}
  </div>


  <!-- Change Password Form -->
  
  <div class="form-group">
    <input type="password"
           class="form-control"
           name="newPassword"
           ng-model="changePasswordCtrl.changePasswordForm.newPassword"
           placeholder="New Password"
           required />
  </div>

  <div class="form-group">
    <input type="password"
           class="form-control"
           name="repeatPassword"
           ng-model="changePasswordCtrl.changePasswordForm.repeatPassword"
           placeholder="Repeat Password"
           required />
  </div>

  <input type="submit" class="btn btn-aqt btn-block" value="Submit"
         ng-disabled="!changePasswordForm.$valid"
         ng-hide="changePasswordCtrl.apiProcessing">

  <img src="/assets/oloader.gif"
       ng-show="changePasswordCtrl.apiProcessing"
       style="display: block;
              margin-left: auto;
              margin-right: auto;
              height: 50px;">

</form>
