{% extends "base.html" %}

{% block title %}
  AQT Solutions | Contact Support
{% endblock title %}

{% block header-extend %}
  <!-- Astrum Header -->
  {% include "astrum-header.html" %}
  <!-- End Astrum Header -->
{% endblock header-extend %}

{% block body %}
  <!-- Astrum Top Bar -->
  {% include "astrum-top-bar.html" %}
  <!-- End Astrum Top Bar -->

  <!-- Breadcrumbs -->
  <section id="titlebar">
    <!-- Container -->
    <div class="container">
      
      <div class="eight columns">
	<h2>Contact Support</h2>
      </div>
     
      <div class="eight columns">
	<nav id="breadcrumbs">
	  <ul>
	    <li>You are here:</li>
	    <li><a href="/">Home</a></li>
            {% if user.is_staff %}
            <li><a href="{% url 'customer:customer' %}">Member Area</a></li>
            {% endif %}
            <li>Contact Support</li>
	  </ul>
	</nav>
      </div>
      
    </div>
    <!-- Container / End -->
  </section>

  <div class="container" style="padding-bottom: 3.5rem;">

    <!-- Center block placeholder -->
    <div class="two columns">
      <span class="line" style="width: 0;"></span>
    </div>

    <!-- Create Ticket -->
    <div class="eight alt columns">

      <div class="clearfix" style="margin-top: 25px;"></div>

      <!-- Section Title -->
      <h3 class="headline">Contact Web Support</h3>
      <span class="line" style="margin-bottom: 35px;"></span>
      <div class="clearfix"></div> 

      <!-- Create Ticket Error message(s) -->
      {% if error == 'Empty' %}
	<div class="notification error closeable">
	  <p>
            <span>Error!</span> All fields are required.
          </p>
	  <a class="close" href="#"></a>
	</div>
      {% endif %}

      <!-- Login Form -->
      <form method="post" action="{% url 'support:support' %}">
        {% csrf_token %}

        <fieldset>
          <div>
            <label>First Name:</label>
            <input type="text" name="fname" 
                   style="width: 100%;" value="{{ fname }}"/>
          </div>

          <div class="clearfix"></div>
          <div style="margin: 8px 0 0 0;"></div>

          <div>
            <label>Last Name:</label>
            <input type="text" name="lname" 
                   style="width: 100%;" value="{{ lname }}"/>
          </div>

          <div class="clearfix"></div>
          <div style="margin: 8px 0 0 0;"></div>

          <div>
            <label>E-mail:</label>
            <input type="email" name="email" 
                   style="width: 100%;" value="{{ email }}"/>
          </div>

          <div class="clearfix"></div>
          <div style="margin: 8px 0 0 0;"></div>

          <div>
            <label>Company:</label>
            <input type="text" name="company" 
                   style="width: 100%;" value="{{ company }}"/>
          </div>

          <div class="clearfix"></div>
          <div style="margin: 8px 0 0 0;"></div>

          <div>
            <label>Message:</label>
            <textarea name="message" style="resize: vertical; width: 100%;
                                            height: 150px;">
              {{ message }}
            </textarea>
          </div>
        </fieldset>

        <div class="clearfix"></div>
        <div style="margin: 20px 0 0 0;"></div>

        <input type="submit" value="Submit" />
      </form>
    </div>
    
    <!-- Right Bar -->
    <div class="four columns" style="margin-left: 25px;">

      <div class="clearfix" style="margin-top: 25px;"></div>

      <!-- Section Title -->
      <h3 class="headline">Instructions</h3>
      <span class="line" style="margin-bottom: 35px;"></span>
      <div class="clearfix"></div>

      <p>
        Please fill out the form to the left to send an e-mail to AQT Solutions
        web support.
      </p>

      <p>
        An e-mail will be formatted and sent automatically with the information
        provided.
      </p>
    </div>

    <!-- Center block placeholder -->
    <div class="two columns">
      <span class="line" style="width: 0;"></span>
    </div>

    <div class="clearfix" style="margin-bottom: 45px;"></div>

  <!-- Container end -->
  </div>

  <!-- Astrum Footer -->
  {% include "astrum-footer.html" %}
  <!-- End Astrum Footer -->
{% endblock body %}

{% block body-extend %}
  <!-- No content from body-extend. -->
{% endblock body-extend %}
