{% load staticfiles %}

<!-- Astrum template header.  Modeled after the "index.html" file. -->
<meta charset="utf-8">

<!-- Mobile Specific Metas
================================================== -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- CSS
================================================== -->
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/colors/orange-custom.css' %}" id="colors">

<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<!-- Java Script
================================================== -->
<script src="{% static 'scripts/jquery.min.js' %}"></script>
<script src="{% static 'scripts/jquery.themepunch.plugins.min.js' %}"></script>
<script src="{% static 'scripts/jquery.themepunch.revolution.min.js' %}"></script>
<script src="{% static 'scripts/jquery.themepunch.showbizpro.min.js' %}"></script>
<script src="{% static 'scripts/jquery.easing.min.js' %}"></script>
<script src="{% static 'scripts/jquery.tooltips.min.js' %}"></script>
<script src="{% static 'scripts/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'scripts/jquery.superfish.js' %}"></script>
<script src="{% static 'scripts/jquery.twitter.js' %}"></script>
<script src="{% static 'scripts/jquery.flexslider.js' %}"></script>
<script src="{% static 'scripts/jquery.jpanelmenu.js' %}"></script>
<script src="{% static 'scripts/jquery.contact.js' %}"></script>
<script src="{% static 'scripts/jquery.isotope.min.js' %}"></script>
<script src="{% static 'scripts/custom.js' %}"></script>
