<!-- Foundation 5 "Best Practices" -->
<script src="{{'portal:static/foundation-5.5.1.custom/js/vendor/jquery.js'|static_url}}"></script>
<script src="{{'portal:static/foundation-5.5.1.custom/js/foundation.min.js'|static_url}}"></script>

<!-- Add the following script tag after this include:
<script>
 $(document).foundation();
</script>
-->

<!-- 
The above block should be included before the closing of the body tag in every
template that uses Foundation.
 -->
