<!-- Google Font -->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,600italic,300,600,800' rel='stylesheet' type='text/css'>

<!-- Foundation 5 "Best Practices" -->
<meta charset="utf-8">    
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{'portal:static/foundation-5.5.1.custom/css/foundation.css'|static_url}}">
<link rel="stylesheet" href="{{'portal:static/foundation-5.5.1.custom/css/normalize.css'|static_url}}">

<!-- Foundation Icons -->
<link rel="stylesheet" href="{{'portal:static/foundation-5.5.1.custom/css/foundation-icons/foundation-icons/foundation-icons.css'|static_url}}">

<!-- Custom CSS (extends/customizes Foundation) -->
<link rel="stylesheet" href="{{'portal:static/foundation-5.5.1.custom/css/custom.css'|static_url}}">


<script src="{{'portal:static/foundation-5.5.1.custom/js/vendor/modernizr.js'|static_url}}"></script>

<!--
The above block should be included in the header of every template that uses
Foundation.
-->
